.container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 33vh;
  width: 70rem;
  margin: auto;
  background-color: #ffff;
  margin-top: 30rem;
  border-radius: 1.3rem;
}
