.display-container {
  width: 280px;
  height: 260px;
  background-color: hsl(183, 100%, 15%);
  padding: 20px;
  border-radius: 10px;
}
h4 {
  margin-bottom: 6px;
}

.bill-input-container {
  margin-bottom: 20px;
}
.percent-section {
  margin-bottom: 5px;
}
.num-people {
  width: 100%;
  text-align: left;
}
.tip-amount {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 25px;
  // justify-content: space-around;
}
.total-num-display {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.person {
  color: hsl(185, 41%, 84%);
}
.tip-person,
.total-person-header {
  color: hsl(185, 41%, 84%);
}
.person {
  color: hsl(184, 14%, 56%);
}
.tip-per-person,
.total-per-person {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
}
button {
  background-color: hsl(172, 67%, 45%);
  color: aliceblue;
  cursor: pointer;
  border: none;
  &:hover {
    background-color: hsl(185, 49%, 75%);
    color: hsl(183, 100%, 15%);
  }
}
