.rightSection {
  width: 35rem;
  background-color: #00474b;
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 1.2rem;
}
button {
  text-align: center;
  margin: auto;
  width: 100%;
  background-color: #26c2ad;
  border: none;
  color: #025652;
  padding: 0.6rem;
  border-radius: 0.5rem;
}
.tipAmountContainer {
  display: flex;
}
.totalContainer {
  display: flex;
}
.tipAmountContainer p,
.totalContainer p {
  color: white;
}
.totalContainer {
  margin-bottom: 10rem;
}
.tipPerPerson,
.totalPerPerson {
  margin-left: auto;
}
.tipAmountContainer {
  margin-bottom: 3rem;
}
