@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@1,700&display=swap");
.calculations-container {
  width: 280px;
  height: 260px;
}

#bill-total {
  width: 100%;
}

.bill {
  font-size: 13px;
}

#bill-total:before {
  content: "$";
  position: absolute;
}

h4,
.num-people-label,
.zeroNum-warning-display {
  font-size: 12px;
}

.num-people-label {
  margin-right: 55px;
}

.zeroNum-warning-display {
  color: tomato;
}

.percent-section {
  display: flex;
  justify-content: flex-start;
  flex-flow: column wrap;
  height: 100px;
}

.percent-numbers {
  background-color: hsl(183, 100%, 15%);
  color: aliceblue;
  border-radius: 5px;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  text-align: center;
  line-height: 40px;
  margin-bottom: 10px;
}
.percent-numbers:hover {
  background-color: hsl(172, 67%, 45%);
  cursor: pointer;
}

.custom-tip {
  max-width: 80px;
}

.custom-tip {
  height: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#num-people,
#bill-total {
  text-align: right;
  background-color: aliceblue;
  border: 2px solid;
  border-radius: 5px;
}

#num-people:focus,
#bill-total:focus {
  outline: none;
  border: 2px solid hsl(172, 67%, 45%);
}

.custom-tip {
  border-radius: 5px;
  text-align: right;
}

.display-container {
  width: 280px;
  height: 260px;
  background-color: hsl(183, 100%, 15%);
  padding: 20px;
  border-radius: 10px;
}

h4 {
  margin-bottom: 6px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

.bill-input-container {
  margin-bottom: 20px;
}

.percent-section {
  margin-bottom: 5px;
}

.num-people {
  width: 100%;
  text-align: left;
}

.tip-amount {
  width: 100%;
  justify-content: space-between;
  display: flex;
  margin-bottom: 25px;
}

.total-num-display {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 60px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}

.person {
  color: hsl(185, 41%, 84%);
}

.tip-person,
.total-person-header {
  color: hsl(185, 41%, 84%);
}

.person {
  color: hsl(184, 14%, 56%);
}

.tip-per-person,
.total-per-person {
  color: hsl(172, 67%, 45%);
  font-size: 20px;
}

button {
  background-color: hsl(172, 67%, 45%);
  color: aliceblue;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: hsl(185, 49%, 75%);
  color: hsl(183, 100%, 15%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(185, 41%, 84%);
  font-family: "space mono";
}

.container {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  width: 656px;
  min-height: 300px;
  padding: 2rem;
  border-radius: 15px;
}/*# sourceMappingURL=styles.css.map */